name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger DigitalOcean Deploy
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}" \
            -H "Content-Type: application/json" \
            -d '{"force_build": true}' \
            "https://api.digitalocean.com/v2/apps/c71699c2-26e2-4ca3-838c-f429fd07fe72/deployments"
